<router-outlet></router-outlet>



<div class="modal modal-chatbot" id="chatbot" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}"
    style="height:80vh">
    <div class="modal-dialog" role="document1">
        <div class="modal-content widt ">
            <div class="modal-header  b-1px heig d-flex align-items-center justify-content-between">
                <div>
                    <span class="mt-2">AVA</span>
                </div>
                <div>
                    <a type="button" (click)="minimize()" class="minm me-2 text-decoration-none">-</a>
                    <button type="button" class="close border-0 px-2 bg-white" (click)="closePopup()">x
                    </button>
                </div>
            </div>
            <!-- #scrollMe [scrollTop]="scrollMe.scrollHeight" -->
            <div class="modal-body scroll">
                <div class="w-100 mb-5">
                    <p class="fc-black text-right answer-bg rounded p-2 Answer-align-right mb-3">Hello,how can I help
                        you!
                    </p>
                </div>
                <br />
                <div *ngIf="chatMessages.length!=0">
                    <div *ngFor="let message of chatMessages ">
                        <div class="width-80 question-bg question-align-left mb-3">
                            <p
                                class="text-left bg-tableheader rounded width-100 d-flex align-items-center mb-0 py-2 px-2">
                                {{message.question}}</p>
                        </div>
                        <div class="width-80 Answer-align-right mb-3">
                            <div class="answer-bg rounded">
                                <p id={{message.id}}
                                    class="text-left  fc-black width-100  flex-column align-items-center mb-0 py-2 px-2"
                                    *ngIf="message.hasOwnProperty('answer')===true && message.answer!=''"
                                    [innerHtml]="message.answer"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="loader" style="display: flex; justify-content: end;">
                <img class="loading-icon" src="assets/loading.gif" alt="loading-gif">
            </div>
            <div class="mb-1">
                <form class="w-100 d-flex justify-content-center align-items-center"
                    (keyup.enter)="keyDownFunction(lname.value)">
                    <p #chatContainer></p>
                    <input type="text" #lname name="lname" class="wi me-1" id="lname">
                    <span [ngClass]="{'cr-pointer':lname.value!='' && actionRequired===true}"
                        class="bg-primary px-2 py-1 me-2 text-white rounded"
                        (click)="lname.value!='' && actionRequired===true? updateMessage(lname.value):'' ">send</span>
                </form>


            </div>
        </div>
    </div>
</div>