<div class="main-table">
    <div class="row ms-0 me-0 mt-1" *ngIf="routerName !== 'amanada_details'">
        <div class="col-lg-6 mt-1 mb-1 ">
            <div class="widget bx-show-black border border-dark">
                <p class="bg-tableheader text-dark fw-bolder fs-14 py-2 ps-2">CPU Utilization</p>
                <canvas class="bar w-100" id="myChart"></canvas>
            </div>
        </div>

        <div class="col-lg-6 mt-1 mb-1">
            <div class="widget bx-show-black border border-dark">
                <p class="bg-tableheader text-dark fw-bolder fs-14 py-2 ps-2">Memory Utilization</p>
                <canvas class="bar w-100" id="myChart1"></canvas>
            </div>
        </div>
    </div>

    <div class="row ms-0 me-0 mt-1 mb-1" *ngIf="routerName === 'amanada_details'">
        <div *ngFor="let x of kpiCards; let i = index;" class="col-lg-3">
            <div class="bx-shadow-black" [ngStyle]="{'background': '#ffffff'}">
                <p
                    class="text-left fw-bolder fs-18 pt-2 px-2 clr-boston-red mb-0 w-100 d-flex align-items-center justify-content-between">
                    {{x.name}}
                    <img data-bs-toggle="tooltip" data-bs-placement="top"
                        title="Count of emails processed in last 15 minutes" src="../../../assets/info.png"
                        style="width: 30px; cursor: pointer;" class="pe-2" />
                </p>
                <p class="text-left fw-normal fs-24 p-2 clr-yellow">{{x.count}}</p>
            </div>
        </div>
    </div>

    <div class="row ms-0 me-0 mt-1 mb-1 bg-white bx-shadow-black py-2 px-1" *ngIf="routerName === 'amanada_details'">
        <div class="col-lg-12">
            <span class="cr-pointer py-2 px-4 fs-14" (click)="tabChange('mtd')" [ngClass]="{'bg-red': selectedTab === 'mtd', 
                'text-white': selectedTab === 'mtd', 'text-dark': selectedTab !== 'mtd'}">
                Month</span>
            <span class="cr-pointer py-2 px-3 fs-14" (click)="tabChange('ytd')" [ngClass]="{'bg-red': selectedTab === 'ytd', 'text-white': selectedTab === 'ytd', 
                'text-dark': selectedTab !== 'ytd'}">
                Year</span>
        </div>
    </div>

    <div class="row ms-0 me-0 mt-1" *ngIf="routerName === 'amanada_details'">
        <div class="col-lg-6 mt-1 mb-1" *ngFor="let data of viewData; let i = index;">
            <div class="widget bx-show-black border border-dark">
                <app-bar-chart [id]="selectedTab +''+ i" [values]="data"></app-bar-chart>
            </div>
        </div>
        <!-- <div class="col-lg-6 mt-1 mb-1">
            <div class="widget bx-show-black border border-dark">
                <p class="bg-tableheader text-dark fw-bolder fs-14 py-2 ps-2">Converted Carts</p>
                <canvas class="bar w-100" id="myChart3"></canvas>
            </div>
        </div>
        <div class="col-lg-6 mt-1 mb-1">
            <div class="widget bx-show-black border border-dark">
                <p class="bg-tableheader text-dark fw-bolder fs-14 py-2 ps-2">Non Converted Carts</p>
                <canvas class="bar w-100" id="ctx"></canvas>
            </div>
        </div>
        <div class="col-lg-6 mt-1 mb-1">
            <div class="widget bx-show-black border border-dark">
                <p class="bg-tableheader text-dark fw-bolder fs-14 py-2 ps-2">Canceled Carts</p>
                <canvas class="bar w-100" id="ctx1"></canvas>
            </div>
        </div> -->
    </div>

    <div class="row ms-0 me-0 mt-5 px-2">
        <div
            class="col-lg-12 py-3 px-2 fs-18 d-flex align-items-center clr-boston-red fw-bolder bg-white bx-shadow-black">
            Prediction Models
        </div>
    </div>

    <div class="filter-height mx-3 mt-3">
        <table class="bg-tableheader mainTable">
            <thead>
                <tr>
                    <th Class="w-10 ps-2 py-2 fs-14 text-left border border-dark border-bottom-0">
                        S.NO
                    </th>
                    <th Class="w-25 ps-2 py-2 fs-14 text-left border border-dark border-bottom-0 border-start-0">
                        Name
                    </th>
                    <th Class="w-15 ps-2 py-2 fs-14 text-left border border-dark  border-bottom-0 border-strat-0">
                        Datatype
                    </th>
                    <th Class="w-15 ps-2 py-2 fs-14 text-left border border-dark  border-bottom-0">
                        Drift
                    </th>
                    <th Class="w-15 ps-2 py-2 fs-14 text-left border border-dark  border-bottom-0">
                        % Empty
                    </th>
                    <th Class="w-20 ps-2 py-2 fs-14 text-left border border-dark  border-bottom-0">
                        Distribution
                    </th>

                </tr>
            </thead>
            <tbody class="bg-white tBody">
                <tr>
                    <td class="w-10 p-2 fs-14 border border-dark border-top-0 clr-boston-red ff-p-sb pt-1">
                        1
                    </td>
                    <td
                        class="w-25 p-2 fs-14 border border-dark border-top-0  border-start-0 clr-boston-red ff-p-sb pt-1">
                        Model
                    </td>
                    <td
                        class="w-10 p-2 fs-14 border border-dark border-top-0 border-start-0 clr-boston-red ff-p-sb pt-1">
                        --
                    </td>
                    <td class="w-10 p-2 fs-14 border border-dark border-top-0  border-start-0 ff-p-sb pt-1">
                        0.01
                    </td>
                    <td class="w-10 p-2 fs-14 border border-dark border-top-0 border-start-0 ff-p-sb pt-1">
                        27%
                    </td>
                    <td class="w-15 p-2 fs-14 border border-dark border-top-0 border-start-0 ff-p-sb pt-1">
                        17.82
                    </td>

                </tr>
            </tbody>
        </table>

        <p class="chat-icon mt-5 cr-pointer" (click)="openPopup()">
            <img style="height: 30px ; width: 40px;" src="assets/chat_icon.png" alt="loading-gif">
        </p>
        <div class="modal modal-chatbot" id="chatbot" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}"
            style="height:80vh">
            <div class="modal-dialog" role="document1">
                <div class="modal-content widt ">
                    <div class="modal-header  b-1px heig d-flex align-items-center justify-content-between">
                        <div>
                            <span class="mt-2">AVA</span>
                        </div>
                        <div>
                            <a type="button" (click)="minimize()" class="minm">-</a>
                            <button type="button" class="close " (click)="closePopup()">x
                            </button>
                        </div>
                    </div>
                    <div class="modal-body scroll" #scrollMe [scrollTop]="scrollMe.scrollHeight">
                        <div>
                            <p class="fc-black text-right answer-bg p-2 Answer-align-right mb-3">Hello,how can I help
                                you!
                            </p>
                        </div>
                        <div *ngIf="chatMessages.length!=0">
                            <div *ngFor="let message of chatMessages ">
                                <div class="width-80 question-bg question-align-left mb-3">
                                    <p class="text-left fc-black width-100 d-flex align-items-center mb-0 py-2 px-2">
                                        {{message.question}}</p>
                                </div>
                                <div class="width-80 Answer-align-right mb-3">
                                    <div class="answer-bg">
                                        <p id={{message.id}}
                                            class="text-left  fc-black width-100  flex-column align-items-center mb-0 py-2 px-2"
                                            *ngIf="message.hasOwnProperty('answer')===true && message.answer!=''"
                                            [innerHtml]="message.answer"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="loader" style="display: flex; justify-content: end;">
                        <img class="loading-icon" src="assets/loading.gif" alt="loading-gif">
                    </div>
                    <div class="d-flex ml-2 mb-4">
                        <form class="w-70 d-flex flex-column justify-content-center align-items-center"
                            (keydown)="keyDownFunction($event)">
                            <p #chatContainer></p>
                            <input type="text" #lname name="lname" class="wi" id="lname">
                        </form>
                        <img [ngClass]="{'cr-pointer':lname.value!='' && actionRequired===true}" class="pl-2"
                            src="assets/send-green.png"
                            (click)="lname.value!='' && actionRequired===true? updateMessage(lname.value):'' ">
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>