.widget {
    width: 100%;
    height: 45vh;
    background-color: #fff;
   
}

.bar {
    height: 35vh!important;
    overflow-y: auto;
}

/*Chatbot*/

.chat-icon{
display: flex;
justify-content: flex-end;
    margin-right: 2rem;
}


.modal-chatbot{
  position: fixed;
 top:24.8vh !important;
  width: 32%;
  left: 4rem;
}

.wi{
  width:16rem;
}

.submit {
  width: 25px;
  height: 25px;
  margin-top: 1rem;
}

.widt{
  width:90%;
  height:70vh;
}

.heig{
  height: 40px;
}

.cr-pointer{
  cursor:pointer;
}

.scroll {
  height:60vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.answer-bg{
  border-radius: 25px;
  background-color: rgb(219, 215, 215);

}

.question-bg{
  border-radius: 25px;
  background-color: #c4f275 ;
}

.Answer-align-right{
  float:right;
}

.question-align-left{
  float: left;
}
.sli{
  line-height: 2px;
}

.lh-19{
  line-height: 19px !important;
}

.b-1px{
  border: 1px solid black;
}

.seperator{
    height: 1px;
  width: 64%;
  background-color: #d3d3d3;
  border-radius: 100%;
  margin-left: 10px !important;
  margin-right: 10px;
}

.truncate{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.minm{
  font-size: 22px;
  color: grey;
}

.loading-icon{
  width: 25px;
  height: 25px;
  margin-right: 1rem;
}
