<div class="main-table">
    <div class="row ms-0 me-0 mt-1" *ngIf="routerName !== 'amanada_details'">
        <div class="col-lg-6 mt-1 mb-1 ">
            <div class="widget bx-show-black border border-dark">
                <p class="bg-tableheader text-dark fw-bolder fs-14 py-2 ps-2">CPU Utilization</p>
                <canvas class="bar w-100" id="myChart"></canvas>
            </div>
        </div>

        <div class="col-lg-6 mt-1 mb-1">
            <div class="widget bx-show-black border border-dark">
                <p class="bg-tableheader text-dark fw-bolder fs-14 py-2 ps-2">Memory Utilization</p>
                <canvas class="bar w-100" id="myChart1"></canvas>
            </div>
        </div>
    </div>
    <div style="overflow-x: auto; width:100%" class="mb-2" *ngIf="routerName === 'amanada_details'">
        <div class="row ms-0 me-0 mt-1 mb-1 flex-nowrap">
            <div *ngFor="let x of kpiCards; let i = index;" class="col-lg-3">
                <div class="bx-shadow-black" [ngStyle]="{'background': '#ffffff'}">
                    <p
                        class="text-left fw-bolder fs-18 pt-2 px-2 clr-boston-red mb-0 w-100 d-flex align-items-center justify-content-between">
                        {{x.name}}
                    </p>
                    <table class="w-100 border-0">
                        <tr class="w-100">
                            <td class="fs-14 fw-bolder text-dark ps-2 w-35">Last 15 Mins: </td>
                            <td class="text-left fw-normal fs-24 clr-yellow mb-0 w-65">{{x.count}}</td>
                        </tr>
                    </table>
                    <table class="w-100 border-0">
                        <tr class="w-100">
                            <td class="fs-14 fw-bolder text-dark ps-2 w-35">Last 24 Hours: </td>
                            <td class="text-left fw-normal fs-24 clr-yellow mb-0 w-65">{{x.fullcount}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>


    <div class="row ms-0 me-0 mt-1 mb-1 bg-white bx-shadow-black py-2 px-1" *ngIf="routerName === 'amanada_details'">
        <div class="col-lg-12">
            <span class="cr-pointer py-2 px-4 fs-14" (click)="tabChange('mtd')" [ngClass]="{'bg-red': selectedTab === 'mtd', 
                'text-white': selectedTab === 'mtd', 'text-dark': selectedTab !== 'mtd'}">
                Daily</span>
            <span class="cr-pointer py-2 px-3 fs-14" (click)="tabChange('ytd')" [ngClass]="{'bg-red': selectedTab === 'ytd', 'text-white': selectedTab === 'ytd', 
                'text-dark': selectedTab !== 'ytd'}">
                Monthly</span>
        </div>
    </div>

    <div class="row ms-0 me-0 mt-1" *ngIf="routerName === 'amanada_details'">
        <div class="col-lg-6 mt-1 mb-1" *ngFor="let data of viewData; let i = index;">
            <div class="widget bx-show-black border border-dark">
                <app-bar-chart [id]="selectedTab +''+ i" [values]="data"></app-bar-chart>
            </div>
        </div>
    </div>

    <div class="row ms-0 me-0 mt-5 px-2">
        <div
            class="col-lg-12 py-3 px-2 fs-14 d-flex align-items-center clr-boston-red fw-bolder bg-white bx-shadow-black">
            Prediction Models
        </div>
    </div>

    <div class="filter-height mx-3 mt-3">
        <table class="bg-tableheader mainTable">
            <thead>
                <tr>
                    <th Class="w-10 ps-2 py-2 fs-14 text-left border border-dark border-bottom-0">
                        S.NO
                    </th>
                    <th Class="w-25 ps-2 py-2 fs-14 text-left border border-dark border-bottom-0 border-start-0">
                        Name
                    </th>
                    <th Class="w-15 ps-2 py-2 fs-14 text-left border border-dark  border-bottom-0 border-strat-0">
                        Datatype
                    </th>
                    <th Class="w-15 ps-2 py-2 fs-14 text-left border border-dark  border-bottom-0">
                        Drift
                    </th>
                    <th Class="w-15 ps-2 py-2 fs-14 text-left border border-dark  border-bottom-0">
                        % Empty
                    </th>
                    <th Class="w-20 ps-2 py-2 fs-14 text-left border border-dark  border-bottom-0">
                        Distribution
                    </th>

                </tr>
            </thead>
            <tbody class="bg-white tBody">
                <tr>
                    <td class="w-10 p-2 fs-14 border border-dark border-top-0 clr-boston-red ff-p-sb pt-1">
                        1
                    </td>
                    <td
                        class="w-25 p-2 fs-14 border border-dark border-top-0  border-start-0 clr-boston-red ff-p-sb pt-1">
                        Model
                    </td>
                    <td
                        class="w-10 p-2 fs-14 border border-dark border-top-0 border-start-0 clr-boston-red ff-p-sb pt-1">
                        --
                    </td>
                    <td class="w-10 p-2 fs-14 border border-dark border-top-0  border-start-0 ff-p-sb pt-1">
                        0.01
                    </td>
                    <td class="w-10 p-2 fs-14 border border-dark border-top-0 border-start-0 ff-p-sb pt-1">
                        27%
                    </td>
                    <td class="w-15 p-2 fs-14 border border-dark border-top-0 border-start-0 ff-p-sb pt-1">
                        17.82
                    </td>

                </tr>
            </tbody>
        </table>


    </div>


</div>