<div class="w-100">
    <div class="body-w">
        <!-- Header  h-8 h-xxl-5 -->
        <div class="row top-nav">
            <div class="col-12">
                <app-top-nav></app-top-nav>
            </div>
        </div>
        <!-- Body h-82 h-xxl-87 -->
        <div class="row router-body">
            <div class="col-lg-12">
                <router-outlet></router-outlet>
            </div>
        </div>
        <!-- Footer -->
        <div class="row footer">
            <footer class="col-12 text-center text-dark align-middle fs-14 ff-p-sb">
                Copyright © 2023-2024 CDW. All Rights Reserved.
            </footer>
        </div>
    </div>
</div>